.navbar {
  height: 100px;
  background-image: linear-gradient(
    to bottom,
    #000000,
    #070707,
    #0d0d0d,
    #121212,
    #161616
  );
  box-shadow: 0px 2px 8px 5px rgba(197, 197, 197, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  &__logo {
    color: #f0eeeb;
    font-size: 40px;
    font-weight: 600;
    font-family: monospace;
  }
}
