.userList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &__item {
    border: 1px solid #e6e7ef;
    display: flex;
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    .avatar {
      height: 150px;
      width: 150px;
    }
    img {
      object-fit: cover;
      height: 100%;
      border-radius: 50%;
    }
    .details {
      display: flex;
      flex-direction: column;
      padding-left: 30px;
      position: relative;
      .login {
        font-size: 17px;
        font-weight: 600;
      }
      .followers {
        position: absolute;
        bottom: 0;
      }
    }
  }
}

.noUsers {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
}
